<h1>Select Your Flight</h1>

<%= render partial: 'flight_search'%>

<% if @search_flights.nil?%>
  <h1>Flights will appear here</h1>
<% elsif @search_flights.empty?%>
  <h1>You done fucked up A-ARON!</h1>
<% else %>
  <%= render partial: 'search_result' %>
<% end %>