<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Flight Booker</title>
</head>
<style>
  body {
    background-image: url('2018-12-20-02_generated[1].jpg');
  }
</style>
<body>
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Select Your Flight</h1>
  </div>

  <div>
    <%= render partial: 'flight_search'%>
  </div>

  <% if @search_flights.nil?%>
    <h1>Flights will appear here</h1>
  <% elsif @search_flights.empty?%>
    <h1>You done fucked up A-ARON!</h1>
  <% else %>
    <%= render partial: 'search_result' %>
  <% end %>
</body>

<p>background image from https://www.vecteezy.com/ Yulia Gapeenko</p>
</html>

