<div data-controller="form">    
    <template id="temp">
        <div class="form-group">
            <%= sub_form.label :name, class: 'col-form-label' %>
            <%= sub_form.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= sub_form.label :email, class: 'col-form-label' %>
            <%= sub_form.text_field :email, class: 'form-control' %>
        </div>
    </template>
</div>