input[type="date"]::-webkit-calendar-picker-indicator {
    height: 1.9em;
}

body {
    background-image: url('plane.jpg');
    background-size: 100%;
}

h1 {
    color: aliceblue;
    font-weight: bold;
    font-size: 4em;
}

h3 {
    color: aliceblue;
    font-weight: bold;
    padding-top: 2em;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: x-small;
    color: aliceblue;
    text-align: center;
}