input[type="date"]::-webkit-calendar-picker-indicator {
    height: 1.9em;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url('plane.jpg');
    background-size: 100%;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    color: aliceblue;
    font-weight: bold;
    font-size: 4em;
}

h3 {
    color: aliceblue;
    font-weight: bold;
    padding-top: 2em;
}

h4 {
    color: aliceblue;
    font-weight: bold;
}

label {
    color: aliceblue;
    font-weight: bold;
    padding-bottom: 2em;
}

footer {
    font-size: x-small;
    color: aliceblue;
    text-align: center;
    margin-top: auto;
    width: 100%;
}

#confirm_btn {
    margin-top: 1em;
}

.buttons {
    margin-top: 1em;
}